@mixin WalsheimProMedium {
    font-family: "GT Walsheim Pro", sans-serif;
    font-weight: 500;
    color: $color-text-dark;
}

@mixin font(
            $family: Inter,
            $size: 23px,
            $weight: normal,
            $style: Regular,
            $color: $color-text-light,
            $letter-spacing: 0px,
            $line-height: 28px
        ) 
    {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        font-size: $size;
        color: $color;
        letter-spacing: $letter-spacing;
        line-height: $line-height;
    }
