$color-button: linear-gradient(to right, #1DD844, #CBF62E);
$color-gradient-background: linear-gradient(to bottom,#5F38FF, #FF0EDE);


$color-text-green: #C3F33B;
$color-text-light:#FFFFFF;
$color-text-dark: #242424;

$color-dark: #1D2532;
$color-background-light: #F5F5F5;

