

@media (max-width: 1087px) {

    // .nav__list{
    //     gap: 50px;
    // }
    .header__button {
        font-size: 1.5vw;
        line-height: 20px;
        padding: 0 2% 0 2%;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 991.98px) {
    // .nav__list {
    //     padding-left: 160px;
    // }
}