@import '../../sass/variables.scss';

.header {
    background-color: $color-dark;

    .nav {
        color: $color-text-light;
    }
}

.header__button {
    width: 175px;
    height: 51px;
    background-color: transparent;
    color: $color-text-light;
    border-radius: 15px;
    border: solid 1px white;
    &:hover {
        color: $color-text-green;
        border: solid 1px $color-text-green;
    }
}

