@import '../../sass/variables.scss';
@import '../../sass/base.scss';
@import '../../sass/mixins.scss';

.header {
    background-color: $color-dark;
    .header__container {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        @include font();
        .header__backlight {
            position: absolute;
            z-index: 1;
            width: 415px;
            height: 415px;
            top: -200px;
            left: -210px;
            background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
            filter: blur(86px);
            transform: rotate(11.97deg);
        }
        .heder__logo {
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
        .nav {
            .nav__list {
                padding-left: 280px;
                display: flex;
                gap: 105px;
                list-style: none;
                color: $color-text-gray;
                .nav__item {
                    //margin-right: 105px;
                    flex: auto;
                    cursor: pointer;
                    &:hover {
                        color: $color-text-green;
                    }
                }
            }
        }
    }
}

.header__button {
    width: 175px;
    height: 51px;
    background-color: transparent;
    color: $color-text-light;
    @include font($size: 16px);
    border-radius: 15px;
    border: solid 1px white;
    cursor: pointer;
    &:hover {
        color: $color-text-green;
        border: solid 1px $color-text-green;
    }
}
